
{% load static helper_tags%}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme   pt-4">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
          
          <img
                src="{% static 'assets/img/cmopnay/company.png'%}"
                alt="company"
                class="w-px-30"
                />
        </span>
        <span class="app-brand-text demo menu-text fw-bold " style='font-size:10px'>Code Ocean</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
        <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboards -->
      
      <!-- Components -->
      {% if user.is_manager or user.is_superuser %}

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text"><a href= "/admin">  admin </a> </span>
      </li>
      <li class="menu-header small text-uppercase">
        <a href='{% url "upload-pic"  %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
              Pic -Site
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase">
        <a href='{% url "employee"  %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
              Employee Site
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      {% comment %} will be as live dash for company {% endcomment %}
      {% comment %} <li class="menu-header small text-uppercase">
        <a href='{% url "viewer_dash"  %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
              viewer
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li> {% endcomment %}
      <li class="menu-header small text-uppercase">
        <a href='{% url "client_filter" 'meetings' 'today' %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
                Clients Meetings
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      {% endif %}
      <li class="menu-header small text-uppercase">
        <a href='{% url "client_filter" 'tech_team' 'clients' %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
                Clients from technical team
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase">
        <a href='{% url "client_filter" 'tech_team' 'clients' %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
                Studies
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text"><a href= "/admin">  Ask&ANswer </a> </span>
      </li>
      <li class="menu-header small text-uppercase">
        <a href='{% url "client_filter" 'from_markting' 'clients' %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
                Clients From Markting
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase">
        <a href='{% url "client_filter" 'meetings' 'today' %}' class="menu-link ">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="{{ name }}">
                Clients Meetings
            </div>
          <div class="badge bg-label-primary rounded-pill ms-auto">SC</div>
        </a>
      </li>
      <li class="menu-item active ">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-file-dollar"></i>
          <div data-i18n="Invoice">Invoice</div>
          <div class="badge bg-label-danger rounded-pill ms-auto">4</div>
        </a>
        <ul class="menu-sub">
          {% model_links request as links %}
          {% for link in links %}

          <li class="menu-item">
            <a href="{{link.link}}" class="menu-link">
              <div >{{ link.name }}</div>
            </a>
          </li>
          {% endfor %}
          
        </ul>
      </li>
      <!-- Cards -->
     
    </ul>
  </aside>