{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Manager /</span></h4>

          <!-- Header -->
          {% comment %} {% include 'registration/profile_partial/header.html'%}          <!--/ Header --> {% endcomment %}

          <!-- Navbar pills -->
          <div class="row">
            <div class="col-md-12">
                {% include 'registration/profile_partial/list_links.html'  with active='projects' %} 
            </div>
          </div>
        </div>
          <div class="flex flex-wrap   justify-between col-12 " style="display: flex">
            {% comment %} start list item {% endcomment %}
            
            {% comment %}  {% endcomment %}
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">open project</a>
                      <a class="dropdown-item" href="javascript:void(0);">call site eng</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">View More</a>
                      <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">View More</a>
                      <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">View More</a>
                      <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">View More</a>
                      <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4 mb-4 col-md-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between pb-1">
                  <h5 class="mb-0 card-title">شقة الاستاذ علي</h5>
                  <div class="dropdown">
                    <button
                      class="btn p-0"
                      type="button"
                      id="totalEarning"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                      <a class="dropdown-item" href="javascript:void(0);">View More</a>
                      <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h1 class="mb-0 me-2">87%</h1>
                    <i class="ti ti-chevron-up text-success me-1"></i>
                    <p class="text-success mb-0">13%</p>
                  </div>
                  <div id="totalEarningChart"></div>
                  <div class="d-flex align-items-start my-4">
                    <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">اجمالي المدفوعات</h6>
                        <small class="text-muted">اجمالي المصاريف: 45872</small>
                      </div>
                      <p class="mb-0 text-success">500,000LE</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start">
                    <div class="badge rounded bg-label-secondary p-2 me-3 rounded">
                      <i class="ti ti-brand-paypal ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                      <div class="me-2">
                        <h6 class="mb-0">المتبقي</h6>
                        <small class="text-muted">الدفعه القادمة:1540ج</small>
                      </div>
                      <p class="mb-0 text-success">154477ج</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} end list item {% endcomment %}
          </div>
        
        <!-- / Content -->

   
      </div>
{% endblock content %}