{% extends 'base.html' %}
{% load static helper_tags  %}
{% block content %}
{% projects_manager as  manager_projects %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Manager /</span></h4>

          <!-- Header -->
          {% comment %} {% include 'registration/profile_partial/header.html'%}          <!--/ Header --> {% endcomment %}

          <!-- Navbar pills -->
          <div class="row">
            <div class="col-md-12">
                {% include 'registration/profile_partial/list_links.html'  with active='meetings' %} 
            </div>
          </div>
        </div>
          
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header pb-0 d-flex justify-content-between">
            <div class="card-title mb-0">
              <h5 class="mb-0">تتبع خطوات الشركة</h5>
              <small class="text-muted">اخر 3 شهور</small>
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="supportTrackerMenu"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="ti ti-dots-vertical ti-sm text-muted"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="supportTrackerMenu">
                <a class="dropdown-item" href="javascript:void(0);">View More</a>
                <a class="dropdown-item" href="javascript:void(0);">Delete</a>
              </div>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
              <div class="mt-lg-4 mt-lg-2 mb-lg-4 mb-2 pt-1">
                <h1 class="mb-0">{{manager_projects.projects|length}}</h1>
                <p class="mb-0">اجمالي المشاريع</p>
              </div>
              <ul class="p-0 m-0">
                <li class="d-flex gap-3 align-items-center mb-lg-3 pt-2 pb-1">
                  <div class="badge rounded bg-label-primary p-1"><i class="ti ti-ticket ti-sm"></i></div>
                  <div>
                    <h6 class="mb-0 text-nowrap">المشاريع القائمة</h6>
                    <small class="text-muted">{{manager_projects.current_projects.count}}</small>
                  </div>
                </li>
                <li class="d-flex gap-3 align-items-center mb-lg-3 pb-1">
                  <div class="badge rounded bg-label-info p-1"><i class="ti ti-circle-check ti-sm"></i></div>
                  <div>
                    <h6 class="mb-0 text-nowrap">مشاريع منتظرة </h6>
                    <small class="text-muted">{{manager_projects.going_to_start|length}}</small>
                  </div>
                </li>
                <li class="d-flex gap-3 align-items-center pb-1">
                  <div class="badge rounded bg-label-warning p-1"><i class="ti ti-clock ti-sm"></i></div>
                  <div>
                    <h6 class="mb-0 text-nowrap">مشاريع اقتربت علي الانتهاء</h6>
                    <small class="text-muted">{{manager_projects.going_to_finish|length}}</small>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-12 col-sm-8 col-md-12 col-lg-8">
              <div id="supportTracker"></div>
            </div>
          </div>
        </div>
      </div>
        <!-- / Content -->
<div id="projectChart"></div>   
<div id="clientChart"></div>   
<div id="clientChart_locations"></div>   
<div id="compnay_timeline"></div>   

              <!-- Timeline Left-->
              {% comment %} <div class="col-xl-6 mb-4 mb-xl-0">
                <div class="card">
                  <h5 class="card-header">Basic</h5>
                  <div class="card-body pb-0">
                    <ul class="timeline mb-0">
                      <li class="timeline-item timeline-item-transparent">
                        <span class="timeline-point timeline-point-primary"></span>
                        <div class="timeline-event">
                          <div class="timeline-header border-bottom mb-3">
                            <h6 class="mb-0">Get on the flight</h6>
                            <span class="text-muted">3rd October</span>
                          </div>
                          <div class="d-flex justify-content-between flex-wrap mb-2">
                            <div>
                              <span>Charles de Gaulle Airport, Paris</span>
                              <i class="ti ti-arrow-right scaleX-n1-rtl mx-3"></i>
                              <span>Heathrow Airport, London</span>
                            </div>
                            <div>
                              <span class="text-muted">6:30 AM</span>
                            </div>
                          </div>
                          <a href="javascript:void(0)">
                            <i class="ti ti-link"></i>
                            bookingCard.pdf
                          </a>
                        </div>
                      </li>
                      <li class="timeline-item timeline-item-transparent">
                        <span class="timeline-point timeline-point-success"></span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h6 class="mb-0">Design Review</h6>
                            <span class="text-muted">4th October</span>
                          </div>
                          <p>Weekly review of freshly prepared design for our new application.</p>
                          <div class="d-flex justify-content-between">
                            <h6>New Application</h6>
                            <div class="d-flex">
                              <div class="avatar avatar-xs me-2">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
                              </div>
                              <div class="avatar avatar-xs">
                                <img src="../../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-item timeline-item-transparent">
                        <span class="timeline-point timeline-point-danger"></span>
                        <div class="timeline-event">
                          <div class="d-flex flex-sm-row flex-column">
                            <img
                              src="../../assets/img/elements/11.jpg"
                              class="rounded mb-sm-0 mb-3 me-3"
                              alt="Shoe img"
                              height="62"
                              width="62"
                            />
                            <div>
                              <div class="timeline-header flex-wrap mb-2">
                                <h6 class="mb-0">Sold Puma POPX Blue Color</h6>
                                <span class="text-muted">5th October</span>
                              </div>
                              <p>
                                PUMA presents the latest shoes from its collection. Light & comfortable made with
                                highly durable material.
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex justify-content-between flex-wrap flex-sm-row flex-column text-sm-center"
                          >
                            <div class="customer mb-sm-0 mb-2">
                              <p class="mb-0">Customer</p>
                              <span class="text-muted">Micheal Scott</span>
                            </div>
                            <div class="price mb-sm-0 mb-2">
                              <p class="mb-0">Price</p>
                              <span class="text-muted">$375.00</span>
                            </div>
                            <div class="price">
                              <p class="mb-0">Quantity</p>
                              <span class="text-muted">1</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-item timeline-item-transparent">
                        <span class="timeline-point timeline-point-info"></span>
                        <div class="timeline-event">
                          <div class="timeline-header">
                            <h6 class="mb-0">Interview Schedule</h6>
                            <span class="text-muted">6th October</span>
                          </div>
                          <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus quos, voluptates
                            voluptas rem veniam expedita.
                          </p>
                          <hr />
                          <div class="d-flex justify-content-between flex-wrap gap-2">
                            <div class="d-flex flex-wrap">
                              <div class="avatar me-3">
                                <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                              </div>
                              <div>
                                <p class="mb-0">Rebecca Godman</p>
                                <span class="text-muted">Javascript Developer</span>
                              </div>
                            </div>
                            <div class="d-flex flex-wrap align-items-center cursor-pointer">
                              <i class="ti ti-brand-hipchat me-2"></i>
                              <i class="ti ti-phone-call"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-item timeline-item-transparent border-0">
                        <span class="timeline-point timeline-point-warning"></span>
                        <div class="timeline-event">
                          <div class="timeline-header">
                            <h6 class="mb-0">2 Notifications</h6>
                            <span class="text-muted">7th October</span>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-top-0 p-0"
                            >
                              <div class="d-flex flex-wrap align-items-center">
                                <ul
                                  class="list-unstyled users-list d-flex align-items-center avatar-group m-0 my-3 me-2"
                                >
                                  <li
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    title="Vinnie Mostowy"
                                    class="avatar avatar-xs pull-up"
                                  >
                                    <img class="rounded-circle" src="../../assets/img/avatars/5.png" alt="Avatar" />
                                  </li>
                                  <li
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    title="Allen Rieske"
                                    class="avatar avatar-xs pull-up"
                                  >
                                    <img class="rounded-circle" src="../../assets/img/avatars/12.png" alt="Avatar" />
                                  </li>
                                  <li
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    title="Julee Rossignol"
                                    class="avatar avatar-xs pull-up"
                                  >
                                    <img class="rounded-circle" src="../../assets/img/avatars/6.png" alt="Avatar" />
                                  </li>
                                </ul>
                                <span>Commented on your post.</span>
                              </div>
                              <button class="btn btn-outline-primary btn-sm my-sm-0 my-3">View</button>
                            </li>
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center flex-wrap pb-0 px-0"
                            >
                              <div class="d-flex align-items-center">
                                <img
                                  src="../../assets/img/avatars/4.png"
                                  class="rounded-circle me-3"
                                  alt="avatar"
                                  height="24"
                                  width="24"
                                />
                                <div class="user-info">
                                  <p class="my-0">Dwight repaid you</p>
                                  <span class="text-muted">30 minutes ago</span>
                                </div>
                              </div>
                              <h5 class="mb-0">$20</h5>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> {% endcomment %}
              <!-- /Timeline Left-->
<script>
  var managerProjects = {{ manager_projects.projects|length }};
    
  function get_perc(num) {
      return parseInt((num / managerProjects) * 100);
  }
    var options = {
        series: [get_perc(managerProjects), get_perc({{manager_projects.going_to_finish|length}}), get_perc({{manager_projects.going_to_start|length}}), get_perc({{manager_projects.current_projects.count}})],
        chart: {
        height: 250,
        type: 'radialBar',
      },
      plotOptions: {
        radialBar: {
          offsetY: 0,
          startAngle: 0,
          endAngle: 270,
          hollow: {
            margin: 5,
            size: '30%',
            background: 'transparent',
            image: undefined,
          },
          dataLabels: {
            name: {
              show: true,
            },
            value: {
              show: true,
            }
          }
        }
      },
      colors: ['#1ab7ea', '#0084ff', '#39539E', '#ff9f43'],
      labels: ['المشاريع', 'اقتربت علي انتهت', 'منتظرة', 'قائمة'],
      legend: {
        show: false,
        floating: true,
        fontSize: '16px',
        position: 'left',
        offsetX: 1,
        offsetY: 2,
        labels: {
          useSeriesColors: true,
        },
        markers: {
          size: 0
        },
        formatter: function(seriesName, opts) {
          return seriesName + ":  " + opts.w.globals.series[opts.seriesIndex]
        },
        itemMargin: {
          vertical: 3
        }
      },
      responsive: [{
        breakpoint: 480,
        options: {
          legend: {
              show: false
          }
        }
      }]
      };

      var chart = new ApexCharts(document.querySelector("#supportTracker"), options);
      chart.render();
</script>
<script>
  // Hardcoded project data
  var projectData = {
    projects: [
      {
        id: 1,
        name: "Project 1",
        isFinished: false
      },
      {
        id: 2,
        name: "Project 2",
        isFinished: true
      },
      // Add more project objects as needed
    ],
    finishedProjects: [
      {
        id: 2,
        name: "Project 2",
        isFinished: true
      },
      // Add more finished project objects as needed
    ],
    currentProjects: [
      {
        id: 1,
        name: "Project 1",
        isFinished: false
      },
      // Add more current project objects as needed
    ],
    goingToFinish: [
      {
        id: 3,
        name: "Project 3",
        isFinished: false
      },
      // Add more projects going to finish objects as needed
    ],
    goingToStart: [
      {
        id: 4,
        name: "Project 4",
        isFinished: false
      },
      // Add more projects going to start objects as needed
    ],
  };

  // Prepare the data for the chart
  var chartData = [
    projectData.projects.length,
    projectData.finishedProjects.length,
    projectData.currentProjects.length,
    projectData.goingToFinish.length,
    projectData.goingToStart.length
  ];

  // Configure the chart options
  var options = {
    series: [{
      name: 'Projects',
      data: chartData
    }],
    chart: {
      type: 'bar',
      height: 250
    },
    xaxis: {
      categories: ['All Projects', 'Finished Projects', 'Current Projects', 'Projects Going to Finish', 'Projects Going to Start'],
      labels: {
        rotate: -45
      }
    },
    yaxis: {
      title: {
        text: 'Number of Projects'
      }
    }
  };

  // Render the chart
  var chart = new ApexCharts(document.querySelector("#projectChart"), options);
  chart.render();
</script>
<script>
  // Prepare the data for the chart
  {% comment %} console.log(managerProjects_data,"managerProjects") {% endcomment %}
  var clientData = {
    projects: [
      {% for project in manager_projects.projects %}
      {
        id: {{ project.id }},
        name: "{{ project.name }}",
        createdDate: "{{ project.client.created_date|date:'Y-m' }}",
        isFinished: "{{ project.is_finished }}".toString().toLowerCase()
      },
      {% endfor %}
    ]
  };
  console.log(55555555555)
  
  console.log(clientData, 5555555555);
  // Define the month names
  var monthNames = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
  ];

  // Perform analysis on created dates
  var analysisData = {};
  
  clientData.projects.forEach(function(project) {
    var month = project.createdDate;
    var monthName = monthNames[parseInt(month.split('-')[1]) - 1];
    if (analysisData.hasOwnProperty(monthName)) {
      analysisData[monthName]++;
    } else {
      analysisData[monthName] = 1;
    }
  });

  // Prepare the data for the chart
  var months = Object.keys(analysisData);
  var projectCountData = months.map(function(month) {
    return analysisData[month];
  });

  // Configure the chart options
  var options = {
    series: [
      {
        name: 'Projects',
        data: projectCountData
      }
    ],
    chart: {
      type: 'bar',
      height: 250
    },
    xaxis: {
      categories: months,
      labels: {
        rotate: -45
      }
    },
    yaxis: {
      title: {
        text: 'Projects in year'
      }
    }
  };

  // Render the chart
  var chart = new ApexCharts(document.querySelector("#clientChart"), options);
  chart.render();
</script>
<script>
  // Prepare the data for the chart
  var clientData = {
    projects: [
      {% for project in manager_projects.projects %}
      {
        id: {{ project.id }},
        name: "{{ project.name }}",
        location: "{{ project.client.location }}"
      },
      {% endfor %}
    ]
  };

  // Perform analysis on client locations
  var analysisData = {};
  
  clientData.projects.forEach(function(project) {
    var location = project.location;
    if (analysisData.hasOwnProperty(location)) {
      analysisData[location]++;
    } else {
      analysisData[location] = 1;
    }
  });

  // Prepare the data for the chart
  var locations = Object.keys(analysisData);
  var projectCountData = locations.map(function(location) {
    return analysisData[location];
  });

  // Configure the chart options
  var options = {
    series: [
      {
        name: 'Projects',
        data: projectCountData
      }
    ],
    chart: {
      type: 'bar',
      height: 250
    },
    xaxis: {
      categories: locations,
      labels: {
        rotate: -45
      }
    },
    yaxis: {
      title: {
        text: 'Projects by Location'
      }
    }
  };

  // Render the chart
  var chart = new ApexCharts(document.querySelector("#clientChart_locations"), options);
  chart.render();

  // Display the project count for each location
  locations.forEach(function(location, index) {
    var projectCount = projectCountData[index];
  });
</script>

<script>
  // Prepare the data for the chart
  var projects = [
    {% for project in manager_projects.projects %}
    {
      name: "{{ project.name }} - {{project.client.location}}",
      roadmap: {{ project.roadmap|safe }}
    },
    {% endfor %}
  ];
  console.log(projects, "from timeline");

  // Prepare the data for the timeline chart
  var timelineData = [];

  projects.forEach(function (project) {
    var projectName = project.name;
    var roadmap = project.roadmap;

    if (roadmap && roadmap.length > 0) { // Check if roadmap is not empty
      roadmap.forEach(function (step) {
        var stepName = step.floor_name;
        var startDate = new Date(step.start_date);
        var endDate = new Date(step.end_date);

        timelineData.push({
          x: projectName,
          y: [startDate.getTime(), endDate.getTime()],
          z: stepName,
          fillColor: step.color
        });
      });
    }
  });

  // Configure the chart options
  var options = {
    series: [
      {
        data: timelineData
      }
    ],
    chart: {
      height: 350,
      type: 'rangeBar'
    },
    plotOptions: {
      bar: {
        horizontal: true,
        distributed: true,
        dataLabels: {
          hideOverflowingLabels: false
        }
      }
    },
    dataLabels: {
      enabled: true,
      formatter: function (val, opts) {
        var projectName = opts.w.globals.labels[opts.dataPointIndex];
        var startDate = new Date(val[0]);
        var endDate = new Date(val[1]);
        var diff = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));
        return projectName + ': ' + diff + (diff > 1 ? ' days' : ' day');
      },
      style: {
        colors: ['#f3f4f5', '#fff']
      }
    },
    xaxis: {
      type: 'datetime'
    },
    yaxis: {
      show: false
    },
    grid: {
      row: {
        colors: ['#f3f4f5', '#fff'],
        opacity: 1
      }
    },
    title: {
      text: 'Timeline - ' + 'Company' // Assuming the floor name is the same for all projects and steps
    }
  };

  // Render the chart
  var chart = new ApexCharts(document.querySelector("#compnay_timeline"), options);
  chart.render();
</script>
      </div>
{% endblock content %}