<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
      Styles
    </button>
    <ul class="dropdown-menu">
      {% include 'teamViewer/team_partials/designe_style/list_designe.html' with designs=form.design_styles project=project %}
      {% for design_item in designs %}
      <li>
        {% with design_name=str(design_item) %}
        <a class="dropdown-item" hx-post="{% url 'add_style' project_uuid=project.uuid style_uuid=design_name %}"
           hx-trigger="click changed" {% comment %} hx-target="#parent-div" {% endcomment %} hx-swap="outerHTML" name="style__add">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
            <label class="form-check-label">{{ design_name }}</label>
          </div>
        </a>
        {% endwith %}
      </li>
      {% endfor %}
    </ul>
  </div>