{% extends 'baseViewer.html' %}
{% load static helper_tags %}
{% block content %}
{% load widget_tweaks %}

<div class="content-wrapper">
    <!-- Content -->
    
    <div class=" flex-grow-1 container-p-y card m-4 ">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Project data</h5>
            <small class="text-muted float-end">{{client}}</small>
        </div>
        {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

        <div class="card-body">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Viewer /</span></h4>
                <form method="POST" action="{% url 'client_project_update' project.uuid %}" autocomplete="off">
                    {% csrf_token %}
                    <h5>Advance Styling</h5>
  <div class="row pt-3 mb-3">
    <!-- Accordion with Icon -->
    <div class="col-md mb-4 mb-md-2">
      <small class="text-light fw-semibold">؛قختثؤف :{{project.project}}</small>
      <div class="accordion mt-3 " id="accordionWithIcon">
        <div class="card accordion-item active ">
          <h2 class="accordion-header d-flex align-items-center ">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#accordionWithIcon-1"
              aria-expanded="true"
            >
              <i class="ti ti-star ti-xs me-2"></i>
              معلومات اساسية  
            </button>
          </h2>

          <div id="accordionWithIcon-1" class="accordion-collapse collapse show">
            <div class="accordion-body red-tag">
              <div class="row mb-3 pt-3">
                <label class="col-sm-4 col-form-label">Location:</label>
                <div class="col-sm-12">
                  {{ form.location.errors }}
                  <input type="text" name="location" value={{project.location}} class="form-control" placeholder="{{ form.location.label }}">
                </div>
              </div>
            
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Dimensions:</label>
                <div class="col-sm-12">
                  {{ form.dimensions.errors }}
                  <input type="text" name="dimensions" class="form-control" value={{project.dimensions}} placeholder="{{ form.dimensions.label }}">
                </div>
              </div>
            
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Meters:</label>
                <div class="col-sm-12">
                  {{ form.meters.errors }}
                  <input type="number" value={{project.meters}} name="meters" class="form-control" placeholder="{{ form.meters.label }}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item card">
          <h2 class="accordion-header d-flex align-items-center">
            <button
              type="button"
              class="accordion-button collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#accordionWithIcon-2"
              aria-expanded="false"
            >
              <i class="me-2 ti ti-sun ti-xs"></i>
              تصميم المشروع
            </button>
          </h2>
          <div id="accordionWithIcon-2" class="accordion-collapse collapse">
            <div class="accordion-body red-tag">
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Design Styles:</label>
                <div class="col-sm-12">
                  {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/style/update/' url_name_delete="/client/design/delete/" list_object=form.design_styles btn_name="Designe Style" tag="tag1" list_options=project.design_styles.all project=project %}
                    
              </div>
              
              </div>
            
              <div class="row mb-3" id="form_colors">
                
                  {% include 'teamViewer/team_partials/colors/form_colors.html' with colors=project.design_colors.all %}
              </div> 
            
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Ceiling Decoration:</label>
                <div class="col-sm-12">
                  {{ form.ceiling_decoration.errors }}
                  {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/ceiling/update/' url_name_delete="/client/ceiling/delete/" list_object=form.ceiling_decoration btn_name="Ceiling Decoration" tag="tag2" list_options=project.ceiling_decoration.all project=project %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item card">
          <h2 class="accordion-header d-flex align-items-center">
            <button
              type="button"
              class="accordion-button collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#accordionWithIcon-3"
              aria-expanded="false"
            >
              <i class="me-2 ti ti-moon ti-xs"></i>
              مواد المشروع
            </button>
          </h2>
          <div id="accordionWithIcon-3" class="accordion-collapse collapse">
            <div class="accordion-body red-tag">
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Lighting Type:</label>
                <div class="col-sm-12">
                  {{ form.lighting_type.errors }}
                  {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/light_type/update/' url_name_delete="/client/light_type/delete/" list_object=form.lighting_type btn_name="Lighting Type" tag="tag3" list_options=project.lighting_type.all project=project %}
                </div>
              </div>
            
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Wall Decorations:</label>
                <div class="col-sm-12">
                  {{ form.wall_decorations.errors }}
                  {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/wall_decoration/update/' url_name_delete="/client/wall_decoration/delete/" list_object=form.wall_decorations btn_name="wall_decorations" tag="tag4" list_options=project.wall_decorations.all project=project %}
                </div>
              </div>
            
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Flooring Material:</label>
                <div class="col-sm-12">
                  {{ form.flooring_material.errors }}
                  
                  {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/flooring/update/' url_name_delete="/client/flooring/delete/" list_object=form.flooring_material btn_name="flooring_material" tag="tag5" list_options=project.flooring_material.all project=project %}

                </div>
              <div class="row pt-3 mb-3">
                  <label class="col-sm-4 col-form-label">Flooring Material:</label>
                  <div class="col-sm-12">
                    {{ form.flooring_material.errors }}
                    
                    {% include 'teamViewer/widjet/list_choices.html' with url_name_add='/client/furniture/update/' url_name_delete="/client/furniture/delete/" list_object=form.furniture btn_name="furniture details" tag="tag6" list_options=project.furniture.all project=project %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Accordion with Icon -->
    <!-- Accordion Border styling -->
    <div class="col-md">
      <small class="text-light fw-semibold">Accordion With Border</small>
      <div class="accordion mt-3 accordion-bordered" id="accordionStyle1">
        <div class="accordion-item card">
          <h2 class="accordion-header">
            <button
              type="button"
              class="accordion-button collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#accordionStyle1-1"
              aria-expanded="false"
            >
              بينات المشروع
            </button>
          </h2>

          <div id="accordionStyle1-1" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
            <div class="accordion-body red-tag">
              <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">High Window:</label>
                      <div class="col-sm-12">
                        {{ form.hight_window.errors }}
                        <input type="text" value={{project.hight_window}} name="hight_window" class="form-control" placeholder="{{ form.hight_window.label }}">
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Client Open to Make Edit:</label>
                      <div class="col-sm-12">
                        {{ form.clientOpenToMakeEdit.errors }}
                        {% render_field form.clientOpenToMakeEdit type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Plumbing Established:</label>
                      <div class="col-sm-12">
                        {{ form.plumbingEstablished.errors }}
                        {% render_field form.plumbingEstablished type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Ceiling Gypsum Board:</label>
                      <div class="col-sm-12">
                        {{ form.ceilingGypsumBoard.errors }}
                        {% render_field form.ceilingGypsumBoard type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Door Provided:</label>
                      <div class="col-sm-12">
                        {{ form.doorProvided.errors }}
                        {% render_field form.doorProvided type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Ceramic Existed:</label>
                      <div class="col-sm-12">
                        {{ form.ceramicExisted.errors }}
                        {% render_field form.ceramicExisted type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Toilet Type:</label>
                      <div class="col-sm-12">
                        {{ form.toiletType.errors }}
                        {% render_field form.toiletType type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
                  
                    <div class="row pt-3 mb-3">
                      <label class="col-sm-4 col-form-label">Heater:</label>
                      <div class="col-sm-12">
                        {{ form.heater.errors }}
                        {% render_field form.heater type='text' class="form-control" placeholder=field.name %}
                      </div>
                    </div>
            </div>
          </div>
        </div>

      

        <div class="card accordion-item active">
          <h2 class="accordion-header">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#accordionStyle1-3"
              aria-expanded="true"
            >
              ارقام عن المشروع
            </button>
          </h2>
          <div
            id="accordionStyle1-3"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionStyle1"
          >
            <div class="accordion-body blue-tag">
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Count Boiler:</label>
                <div class="col-sm-12">
                  {{ form.count_boiler.errors }}
                  <input type="number" value={{project.count_boiler}} name="count_boiler" class="form-control" placeholder="{{ form.count_boiler.label }}">
                </div>
              </div>
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Count Boiler:</label>
                <div class="col-sm-12">
                  {{ form.count_kids.errors }}
                  <input type="number" value={{project.count_kids}} name="count_kids" class="form-control" placeholder="{{ form.count_kids.label }}">
                </div>
              </div>
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Count kids male:</label>
                <div class="col-sm-12">
                  {{ form.count_kids_male.errors }}
                  <input type="number" value={{project.count_kids_male}} name="count_kids_male" class="form-control" placeholder="{{ form.count_kids_male.label }}">
                </div>
              </div>
              <div class="row pt-3 mb-3">
                <label class="col-sm-4 col-form-label">Count kids female:</label>
                <div class="col-sm-12">
                  {{ form.count_kids_female.errors }}
                  <input type="number" value={{project.count_kids_female}} name="count_kids_female" class="form-control" placeholder="{{ form.count_kids_female.label }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Accordion Border styling -->
  </div>
            
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<!-- / Content -->
{% include "teamViewer/widjet/show_files.html" %}

   
      </div>
{% endblock content %}